* {
  margin: 0;
  padding: 0;
}

body {
  background: $bgColor;
  color: $mainColor;
  font-wight: map-get($miMap, regular);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  padding: 0 1rem;
}
.MyTexts {
  font-size: 1.25rem;
  padding: 2 1em;
  padding-bottom: 1.5em;
  color: $mainColor;
  font-wight: map-get($miMap, bold);
  @media all and (max-width: $point-md) {
    font-size: 1rem;
    }
  }
.myTitles {
  font-size: 3rem;
  text-align: center;
  padding: 0 1em;
  padding-bottom: 1.5em;
  @media all and (max-width: $point-md) {
  font-size: 1.5rem;
    }
}
/** carrousel**/
.carousel-inner{
  height: 85vh;
  @media all and (max-width: $point-md) {
    height: 100%;
  }
}
.carousel-item img {
  width: 100%;
}
/** modal **/
.modal-title {
  color: black;
}
.modal-body {
  color: black;
  background-color: #ccc;
  background-image: url(../media/asg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 200px;
  a {
  text-decoration: none;
  color: #000;
  }
  li {
  list-style: none;
  margin: 0;
  }
}

/**footer**/
#footer {
  width: 100%;
  margin-top: 50px;
  animation-delay: 2s;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  .grupoUno{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
  .rounded{
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  @media all and (max-width: $point-md) {
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px; 
  }
  .tittle{
  color: $mainColor;
  font-size: 30px;
  }
  .text{
  color: #efefef;
  margin-bottom: 10px;
  font-size: 18px;
  }
  ul {
  list-style: none;
  }
  a {
  text-decoration: none;
  color: #efefef;
  }
  .BoxDos li {
  padding: 5px;
  }
}
}
  .grupoDos{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: $mainColor;
  li {
  padding: 5px;
  }
}
.tittle {
  font-weight: regular;
}

/** cards **/
.col-lg-4{
  padding: 30px;
}
.card-title{
  font-size: 25px;
}
.card-body {
  color: #000;
  background-image: linear-gradient(to top right, #B066FE, #63E2FF);
}
/**parallax**/
.parallax {
  background-image: url("../media/cardetailing.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:50px;
  a{
  font-size: 40px;
  font-weight: extra-bold;
  color: #000;
  text-decoration: none;
  }
  li{
  list-style: none;
  text-align: center;
  padding: 15px;
  }
  @media all and (max-width: $point-md) {
    display: none;
  }
}
/**servicios**/

/**hover**/
.hover {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 30%;
  padding: 10px;
  img{
  width: 500px;
  height: 300px;
  transition: all 300ms;
  }
  &:hover img{
    transform: scale(1.6); rotate:(10deg);
    }
  &:before,
  &:after{
  content: '';
  width: 500px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  transition: all 300ms;
  border: 4px solid white;
  z-index: 1;
  }
  a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: $mainColor;
  z-index: 2;
  font-size: 80px;
  text-decoration: none;
  transition: all 300ms;
  border: 2px solid black;
 }
  &:hover a{
    transform: translate(-50%, -50%) scale(1);
  }
  &:hover:before{
    transform: rotate(45deg) translateY(-240px) translateX(0px);
  }
  &:hover:after{
     transform: rotate(45deg) translateY(180px) translateX(-80px);
  }
  @media all and (max-width: $point-md) {
    display: none;
  }
}
.hover:before{
  transform: rotate(45deg) translateY(-550px) translateX(0px);
}
.hover:after{
  transform: rotate(45deg) translateY(550px) translateX(-60px);
}
.cont {
  background-image: linear-gradient(to top right, #B066FE, #63E2FF); 
}
.uno:hover,
.dos:hover,
.tres:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
  @media all and (max-width: $point-md) {
    pointer-events: none;
  }
}
/**quienes somos**/

#banner {
  min-width: 400px;
  height: 90vh;
  position: relative;
  z-index: 2;
  background-image: url("../media/tapizado.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(310deg, #7928ca, #ff0080);
  opacity: .8;
  z-index: -1;
  }
   p {
  font-size: 40px;
  font-weight: bold;
  }
  .subtitulo{
  font-weight: regular;
  font-size: 35px;
  }
}
.embed-responsive{
  height: 300px;
}
#galeria .col-lg-4{
  padding: 35px;
  @media all and (max-width: $point-md) {
    margin-left: 70px;
  }
}

#galeria img:hover{
  border: 5px solid #f7f7f7;
}
/**capacitaciones**/
.contenedor p{
  font-size: 15px;
}
.card-dos{
  padding: 25px;
  width: 80%;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: $point-md) {
    display: none;
  }
}
.card-text-dos{
  font-size: 50px;
  font-weight: regular;
}
.card-body a{
  font-weight: medium;
}

/** Contacto **/

.contact-form {
    background: #222222;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
     label {
      display: block;
    }
    p {
    margin: 0;
    padding: 1rem;
    display: block;
    font-size: 25px;
    }
    .block {
    grid-column: 1 / 3;
    }
  button,
  input,
  textarea {
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: 0;
    color: $mainColor;
    border-bottom: 2px solid cyan;
  }
   button {
    background-image: linear-gradient(to top right, #B066FE, #63E2FF);
    border: 0;
    padding: 1em;
    text-transform: uppercase;
    &:hover,
    &:focus {
    background: #0a1a2a;
    color: $mainColor;
    transition: background-color 1s ease-out;
    outline: 0;
    }
  }
}
}
.contact-info {
    background: #000;
     p,
     ul {
    margin: 0 0 1rem 0;
    list-style: none;
    font-size: 45px;
    @media all and (min-width: $point-md) {
     text-align: left;
    }
}
    a{
      text-decoration: none;
      color: $mainColor;
      font-size: 35px;
}
}
.tittle{
  font-size: 60px;
  font-weight: extra-bold;
  text-align: center;
}

@media all and (min-width: $point-md) {
    body {
        padding: 0 4em;
    }
    .contact-wraped {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }
    .contact-wraped > * {
        padding: 2rem;
    }
}










